---
import Layout from "../../../layouts/Layout.astro";
import Hero from "../../../components/Hero.astro";
import { Picture } from "astro:assets";
import imgHero from "../../../assets/img/hero_programme.webp";
import CardArtistes from "../../../components/CardArtistes.astro";
import { artistesParDate } from "../../../../backend/backend.mjs";

const dateParam = Astro.params.date
  ? decodeURIComponent(Astro.params.date)
  : "";
const artistes = await artistesParDate(Astro.params.date);
---

<Layout title={`Programmation - ${dateParam}`}>
  <Hero title="Programmation" showButton={false}>
    <Picture
      slot="image"
      src={imgHero}
      alt="feux d'artifice"
      layout="full-width"
      pictureAttributes={{ class: "object-cover " }}
    />
  </Hero>

  {
    artistes.length === 0 ? (
      <p>Aucun artiste trouvé pour cette date.</p>
    ) : (
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 my-8">
        {artistes.map((artiste) => (
          <CardArtistes artiste={artiste} />
        ))}
      </div>
    )
  }
</Layout>
