---
import Header from "../../components/Header.astro";
import Layout from "../../layouts/Layout.astro";
import CardArtistes from "../../components/CardArtistes.astro";
import { allArtistsDate } from "../../../backend/backend.mjs";

let artistes = await allArtistsDate();
---

<Layout titre="Artistes">
  <h1 class="text-6xl font-bold text-blue-500 text-center mt-8 mb-8">
    Artistes
  </h1>

  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {artistes.map((artiste) => <CardArtistes artiste={artiste} />)}
  </div>
</Layout>
