@import "tailwindcss";

@theme {
    --font-title: 'Kanit', sans-serif;
    --font-body: 'Sora Variable', sans-serif;

    --color-acc100: oklch(65% 0.19 250);
    --color-acc200: oklch(48% 0.15 255);
    --color-acc300: oklch(28% 0.08 255);
    --color-prim100: oklch(97.5% 0.01 0);
    --color-prim200: oklch(96% 0 0);
    --color-prim300: oklch(76% 0.01 250);
    --color-prim400: oklch(40% 0.005 250);
    --color-prim500: oklch(25% 0.008 250);

    --my-grid: repeat(12, minmax(0, 64px));
}

@layer base {
    p {
        @apply font-body text-base text-prim500;
    }

    h1 {
        @apply font-title text-6xl text-white font-semibold;
    }

    h2 {
        @apply font-title text-4xl font-semibold;
    }

    h3 {
        @apply font-title text-3xl;
    }

    h4 {
        @apply font-title text-base font-bold;
    }
}

@layer components {
    .grille {
        @apply px-6 lg:grid lg:grid-cols-(--my-grid) lg:justify-center lg:gap-12;
    }
}