---
import PbImage from "./PbImage.astro";

const scene = Astro.props.scene;
---

<div class="relative isolate overflow-hidden aspect-[4/3]">
  <div class="absolute inset-0">
    <PbImage record={scene} recordImage={scene.img_scene} />
  </div>
  <div class="absolute inset-0 z-10 bg-acc300/30 mix-blend-multiply"></div>
  <a
    href={`/scenes/${scene.id}`}
    class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-20 flex w-fit items-center gap-2 border-3 border-prim100 text-prim100 px-4 py-2 font-title font-semibold hover:bg-prim100 hover:text-acc100 transition"
  >
    En savoir plus
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="16"
      height="16"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="3"
      aria-hidden="true"
    >
      <polyline points="9 18 15 12 9 6"></polyline>
    </svg>
  </a>
  <div>
    <p
      class="absolute top-[58%] left-1/2 -translate-x-1/2 z-20 font-title text-prim100 text-lg text-center"
    >
      {scene.nom_scene}
    </p>
  </div>
</div>
